@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 50px;
}

body {
  margin: 0;
}

.top {
  text-align: center;
}

.middle {
  margin-top: 100px;
  display: flex;
  height: 30vh;
  padding: 20px;
}

.game-center {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 0 auto;
  padding: 10px;
  width: 50vw;
  text-align: center;
  background: rgba(51, 51, 51, 0.1);
  margin-left: 10px;
}

.game-info {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px;
  width: 50vw;
  text-align: center;
  background: rgba(51, 51, 51, 0.1);
  margin-left: 10px;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
  margin: 0 auto;
}

.set-player-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  padding: 5px 30px;
  background: #61b15a;
  color: #eee;
  margin-top: 50px;
}

.set-player-btn:hover {
  opacity: 0.7;
}

.checkbox-container {
  margin-bottom: 10px;
}

label {
  font-family: 'Poppins', sans-serif;
}

.hide {
  display: none;
}

.player-creation-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.player-selection-top-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.close-player-selection-btn {
  font-family: 'Poppins', sans-serif;
  width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #0f0f0f;
  font-size: 50px;
  text-align: center;
  transform: rotate(45deg);
}

.close-player-selection-btn:hover {
  opacity: 0.5;
}

.x {
  position: relative;
  bottom: 13px;
}

.player-creation {
  width: 40vw;
  height: 50vh;
  background: rgba(241, 240, 240, 0.95);
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 100px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 130px;
  box-shadow: 0 0 20px 10px rgba(51, 51, 51, 0.5);
}

.input-name {
  font-family: 'Poppins', sans-serif;
  outline: none;
  width: 300px;
  height: 25px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 4px;
}

.checkbox {
  width: 600px;
  height: 600px;
}

.computer {
  opacity: 0.6;
}

hr {
  margin-top: 30px;
}

.playbtn-container {
  display: flex;
}

.play {
  outline: none;
  font-family: 'Poppins', sans-serif;
  background: #61b15a;
  color: #eee;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  font-size: 22px;
  width: 200px;
  margin: 0 auto;
  margin-top: 22px
}

.play:hover {
  opacity: 0.7;
}

.hide {
  display: none;
}

.wrapper-board {
  text-align: center;
}

.top-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.top-wrapper-hr {
  width: 75%;
  margin: 10px auto 50px auto;
}

.flex {
  margin: 0 auto;
  display: flex;
  width: 50%;
}

.player-container {
  border: 1px solid #333;
  border-radius: 12px;
  padding: 0 20px;
  width: 10vw;
  margin: 0 auto;
}

.board {
  background-color: rgba(0, 0, 255, 0.8);
  display: inline-block;
  border: 2px solid rgb(1, 10, 63);
  border-radius: 6px;
  padding: 2px;
  text-align: center;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(1, 10, 63);
  border-radius: 50%;
  margin: 5px;
}

.col.empty {
  cursor: pointer;
}

.hover-board {
  background: rgba(255, 0, 0, 0.555);
}

.placing {
  background: red;
}

.col.green {
  background: green;
}

.col.red {
  background: red;
}

.hoverplayer-green {
  background: rgba(0, 128, 0, 0.5);
}

.hoverplayer-red {
  background: rgba(255, 0, 0, 0.5);
}

.player-container-red {
  background: rgba(255, 0, 0, 0.5);
}

.player-container-green {
  background: rgba(1, 117, 1, 0.5);
}

.game-options-container {
  width: 50%;
  margin: 0 auto;
}

.game-options-buttons {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-top: 30px;
}

.game-options-btn {
  font-family: 'Poppins', sans-serif;
  padding: 2px 10px;
  font-size: 25px;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  border-radius: 15px;
  /* border: 1px solid #333; */
}

.game-options-btn:hover {
  opacity: 0.7;
}

.reset-btn {
  width: 200px;
  margin: 10px;
  background: #f6830f;
  border: 2px solid #db6400;
  /* color: white; */
}

.exit-btn {
  width: 200px;
  margin: 10px;
  background: #e40017;
  border: 2px solid #91091e;
  /* color: white; */
}

.highscore-container {
  background: #eee;
}

.highscore-title {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: text;
}

.highscore-description {
  opacity: 0.5;
  margin-top: 0;
}

.highscore-title-hr {
  margin-top: 0;
}

.highscore-table {
  /* background: rgba(128, 128, 128, 0.5); */
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.highscore-sub-titles {
  display: flex;
  justify-content: space-between;
}

.highscore-hr {
  margin-top: 0;
}

.highscore {
  display: flex;
  justify-content: space-between;
}

.top-wrapper-btn-container {
  position: absolute;
  top: 72px;
  right: 249px;
}

.container-btns {
  display: flex;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 0px 2px;
  height: 20px;
}

.container-btns:hover {
  opacity: 0.5;
}

.fas {
  font-size: 22px;
  color: #333;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
  top: 21px;

}

.fa-home {
  position: relative;
  top: 16px;
  margin-left: 8px;
}

.far {
  font-size: 22px;
  color: #333;
  margin-left: 10px;
  position: relative;
  top: 20px;
}

.player-hs {
  opacity: 0.6;
}

.coinsUsed-hs {
  opacity: 0.6;
}

.help-box {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 6px;
  width: 582px;
  height: 524px;
  position: absolute;
  top: 253px;
  left: 662px;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(20px);
  padding: 10px;
  box-sizing: border-box;
}

.top-help-title {
  text-align: center;
  position: relative;
  bottom: 22px;
  margin-bottom: 10px;
}

.middle-help-title h2 {
  margin: 0;
}

.middle-help-title h4 {
  margin: 0;
}

.middle-help-title h5 {
  margin: 0;
}

.bottom-help-title h2 {
  margin: 0;
}

.bottom-help-title h4 {
  margin: 0;
}

.bottom-help-title h5 {
  margin: 0;
}

.bottom-help-title {
  margin-top: 5px;
}

.fade {
  opacity: 0.6;
}

.rules-title {
  margin-bottom: 0px;
}

.rules-desc {
  margin-top: 0px;
}

.gameplay-desc {
  width: 75%;
}

.fa-question {
  font-size: 30px;
}

.winner-container {
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  border: 2px solid rgba(238, 238, 238, 0.2);
  border-radius: 10px;
  width: 25%;
  height: 215px;
  margin: 0 auto;
  position: relative;
  bottom: 400px;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px 10px rgba(51, 51, 51, 0.5);
}

.new-game-btn {
  border: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  font-weight: 700;
  padding: 2px 10px;
  text-align: center;
  /* background: #845ec2; */
  background: #845ec288;
  
}

.home-btn {
  border: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  font-weight: 700;
  padding: 2px 10px;
  text-align: center;
  background: #845ec288;
  display: block;
  margin: 12px auto 0 auto;
}

.new-game-btn:hover, .home-btn:hover {
  opacity: 0.7;
}

.fa-trophy {
  font-size: 30px;
  margin-bottom: 7px;
}

.top-win-ui {
  margin-top: 2px;
}

.top-win-ui h4 {
  margin-top: 0;
}

.top-win-ui h2 {
  margin-bottom: 2px;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.draw-container {
  width: 25%;
  margin: 0 auto;
  position: absolute;
  left: 500px;
  bottom: 370px;
  padding: 5px 25px;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(20px);
  border: 2px solid rgba(238, 238, 238, 0.2);
  border-radius: 10px;
}

.draw-restart-btn {
  border: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  font-weight: 700;
  padding: 2px 10px;
  text-align: center;
  background: #845ec288;
}

.draw-home-btn {
  border: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  font-weight: 700;
  padding: 2px 10px;
  text-align: center;
  background: #845ec288;
  display: block;
  margin: 12px auto 5px auto;
}

.draw-restart-btn:hover, .draw-home-btn:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .bottom {
    display: flex;
  }

  .flex {
    width: 300px;
    margin: 0 auto;
  }

  .game-center {
    height: 360px;
  }
  
  .game-info {
    height: 360px;
    padding-bottom: 5px;
  }

  .player-creation {
    width: 70%;
  }

  .top-wrapper-btn-container {
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 200px;
  }

  .home {
    margin-right: 10px;
  }

  .help {
    margin-right: 10px;
  }

  .highscore-container {
    margin-top: 65px;
  }

  .highscore-table {
    width: 90%;
  }

  .help-box {
    height: 530px;
    left: 93px;
  }

  .draw-container {
    position: absolute;
    left: 255px;
    bottom: 400px;
    
  }
  
}

@media only screen and (min-width: 375px) and (max-width: 767px){
  .bottom {
    display: none;
  }

  #container {
    height: 840px;
  }
  
  .middle {
    margin-top: 10px;
    display: block;
    padding: 10px;
  }

  .game-center {
    width: 315px;
    margin-bottom: 10px;
  }

  .game-info {
    width: 315px;
    height: 340px;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }

  .player-creation {
    width: 345px;
    height: 480px;
  }

  .col {
    width: 39px;
    height: 39px;
  }

  .player-container {
    width: 150px;
    margin: 5px;
  }

  .flex {
    width: 95%;
  }

  .top-wrapper-btn-container {
    margin: 0 auto;
    width: 370px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    top: 200px;
    left: 8px;
  }

  .help-box {
    position: absolute;
    top: 250px;
    left: 20px;
    width: 90%;
    height: 615px;
  }

  .winner-container {
    width: 90%;
  }

  .highscore-table {
    width: 90%;
  }

  .draw-container {
    width: 51%;
    position: absolute;
    left: 66px;
    bottom: 300px;
  }
  
}
